{% extends "products/layout.html" %}

{% block header %}Products{% endblock %}
{% block body %}
    <a href="{% url 'orders' %}" style="font-weight: bold; color:#000; font-size: 20px; padding:16px; float: right">View Orders</a>
    <ul style="clear: both">
        {% for product in products %}
            <a style="font-weight: bold; font-size: 20px; text-decoration: none;" href="{% url 'product' product.id %}">
                Product {{ product.id }}: {{ product.name }} 
            </a>
            <ul>
                <li>Price: {{ product.price }} </li>
                <li>Quantity: {{ product.qty_on_hand }} </li>
            </ul>
            <hr/>
        {% endfor %}
    </ul>

{% endblock %}